.features-list {
    display: flex;
    gap: 24px;
}

.feature {
    flex: 1;
}

.feature-image {
    height: 112px;
    margin-bottom: 8px;
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--text-secondary);
    border-radius: 4px;
    background: var(--surface-default);
}

.feature-title {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--contrast-high);
}
